@supports (grid-area:auto) {

  * { /* for full bleed */
    margin: 0;
    padding: 0;
    }

  .site {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 36px 122px 80px 2851px 64px;
    /*
    contacts/customers div is 661px
    DID YOU KNOW? is 183px
    */
    grid-template-areas:
      'hd hd hd hd' /* header */
      'nv nv nv nv' /* navbar */
      'sch sch sch sch' /* searchbar */
      'mn mn mn mn' /* main area */
      'ft ft ft ft'; /* footer */
  }

  /* START OF HEADER STYLING */
  .header {
    grid-area: hd;
    background-color: #2190e8; /* For browsers that do not support gradients */
    background-image: linear-gradient(#2498f3, #1d86d9);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.5%;
  }
  .header > a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 0.4px;
    padding-top: 1px;
  }
  #mini {
    margin-right: 5px;
  }
  .hd-spacer, .hd-help, .hd-settings {
    margin: 5px;
    transform: scale(0.75);
  }
  /* END OF HEADER STYLING */

  /* START OF NAVBAR STYLING */
  .navbar {
    grid-area: nv;
    background: #1a4c74;
  }
  .icons {
    margin-top: 30px;
    margin-left: 12px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between; /* Space between images is variable */
    flex-wrap: nowrap;
  }
  .nv-dashboard, .nv-customers, .nv-messages,
  .nv-promotions, .nv-page-creator, .nv-analytics {
    transform: scale(1.15);
    margin: 2px;
  }
  /* END OF NAVBAR STYLING */

  /* START OF SEARCHBAR STYLING */
  .search {
    grid-area: sch;
    background: #33cc66;
    margin-top: 12px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 6px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search > p {
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 100;
    font-size: 25.3px;
    text-align: left;
    margin-left: 17px;
  }
  .search-container {
    width: 35%;
    padding-right: 60px;
    margin-top: 23px;
  }
  .search-container input[type="text"] {
    width: 100%;
    border-radius: 2px;
    height: 30px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #33cc66;
   }
  .sch {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -27px;
    right: -22px;
  }
  /* END OF SEARCHBAR STYLING */

  /* START OF MAIN AREA STYLING */
  .main {
    grid-area: mn;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 158px 340px 359px 1334px 660px;
    grid-template-areas:
      'top top top top' /* top of main area */
      'side side side side' /* main area */
      'side side side side' /* main area */
      'bar bar bar bar' /* main area */
      'bt bt bt bt'; /* bottom of main area */
  }
  .top, .bottom, .sidebar, .mainbar {
    margin-left: 10px;
    margin-right: 10px;
  }

  .top {
    grid-area: top;
    margin-top: 16px;
    border: 1px solid #efefef;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .top > div {
    font-family: Verdana, Geneva, sans-serif;
  }
  .toparrows {
    display: inline-block;
    transform: scale(1.1);
    margin: 2px;
  }
  .toparrows:hover {
    transform: scale(1.2);
  }
  #topleft {
    color: #fe7f13;
    font-size: 13px;
    text-transform: uppercase;
    margin-left: 12px;
    margin-top: 15px;
  }
  #topmiddle {
    color: #777777;
    font-size: 11px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 12px;
    line-height: 23px;
    margin-right: 12px;
  }
  #topright {
    padding-bottom: 9px;
    text-align: center;
    padding-top: 0px;
  }

  .sidebar {
    grid-area: side;
    border: 1px solid #efefef;
  }

  .mainbar {
    grid-area: bar;
    border: 1px solid #efefef;
  }

  .bottom {
    padding-top: 17px;
    grid-area: bt;
    background: #2498f4;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bottom > a > div {
    transform: scale(1.1);
    margin: 20px;
  }
  /* END OF MAIN AREA STYLING */

  /* START OF FOOTER STYLING */
  .footer {
    grid-area: ft;
    background: #f5f5f5;
    margin-top: 17px;
    margin-bottom: 2px;
  }
  /* END OF FOOTER STYLING */

  @media screen and (min-width: 628px) { /* START OF DESKTOP-SPECIFIC STYLING */
    .site {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: 23px 58px 53px 596px 55.5px;
      grid-template-areas:
        'hd hd hd hd hd hd hd hd hd hd hd hd' /* header */
        'nv nv nv nv nv nv nv nv nv nv nv nv' /* navbar */
        '. sch sch sch sch sch sch sch sch sch sch .' /* searchbar */
        '. mn mn mn mn mn mn mn mn mn mn .' /* main area */
        'ft ft ft ft ft ft ft ft ft ft ft ft'; /* footer */
    }

    /* START OF HEADER STYLING */
    .header {
      grid-area: hd;
      padding-right: 6.5%;
    }
    .header > a {
      text-decoration: none;
      color: white;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      font-size: 6.7px;
      letter-spacing: 0.4px;
      padding-top: 1px;
    }
    .hd-spacer, .hd-help, .hd-settings {
      margin: 2px;
      transform: scale(0.55);
    }
    /* END OF HEADER STYLING */

    /* START OF NAVBAR STYLING */
    .navbar {
      grid-area: nv;
      background: #1a4c74;
    }
    .icons {
      margin-top: 12px;
      margin-left: 27%;
      margin-right: 29%;
      display: flex;
      justify-content: space-between; /* Space between images is variable */
      flex-wrap: nowrap;
    }
    .nv-dashboard, .nv-customers, .nv-messages,
    .nv-promotions, .nv-page-creator, .nv-analytics {
      transform: scale(0.6);
      margin: -5px;
    }
    /* END OF NAVBAR STYLING */

    /* START OF SEARCHBAR STYLING */
    .search {
      grid-area: sch;
      background: #33cc66;
      margin-top: 7px;
      margin-right: 50px;
      margin-bottom: 6px;
      margin-left: 50px;
    }
    .search > p {
      font-size: 16px;
      margin-left: 12px;
      line-height: 8px;
    }
    .search-container {
      width: 22%;
      padding-right: 50px;
      margin-top: 21px;
    }
    .search-container input[type="text"] {
      width: 100%;
      border-radius: 2px;
      height: 20px;
      padding: 0 20px;
      font-size: 1rem;
      border: 1px solid #33cc66;
     }
    .sch {
      position: relative;
      transform: scale(0.55);
      float: right;
      width: 75px;
      height: 75px;
      top: -22px;
      right: -40px;
    }
    /* END OF SEARCHBAR STYLING */

    /* START OF MAIN AREA STYLING */
    .main {
      margin-left: 50px;
      margin-right: 50px;
      grid-area: mn;
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: 36px 445px 115px;
      grid-template-areas:
      'top top top top top top top top top top' /* top of main area */
      'side side side bar bar bar bar bar bar bar' /* main area */
      'bt bt bt bt bt bt bt bt bt bt'; /* bottom of main area */
    }

    .top {
      grid-area: top;
      margin-top: 9px;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
    }
    .top > div {
      font-family: Verdana, Geneva, sans-serif;
    }
    .toparrows {
      transform: scale(0.6);
      padding-top: 9px;
      margin: -5px;
    }
    .toparrows:hover {
      transform: scale(0.65);
    }
    #topleft {
      font-size: 6.5px;
      margin-left: 12px;
      margin-top: 0px;
    }
    #topmiddle {
      font-size: 6.5px;
      margin-top: 2px;
      margin-right: 0px;
      margin-bottom: 0px;
    }
    #topright {
      padding-right: 7px;
      padding-top: 3px;
      padding-bottom: 0px;
    }

    .sidebar {
      grid-area: side;
      margin-right: 0px;
    }

    .mainbar {
      margin-left: 0px;
      grid-area: bar;
    }

    .bottom {
      padding-top: 0px;
      grid-area: bt;
      flex-direction: row;
      justify-content: center;
    }
    .bottom > a > div {
      transform: scale(0.52);
      margin: -50px;
    }
    #ad2 {
      margin-top: -54.5px;
    }
    /* END OF MAIN AREA STYLING */

    /* START OF FOOTER STYLING */
    .footer {
      grid-area: ft;
      background: #f5f5f5;
      margin-top: 23px;
    }
    /* END OF FOOTER STYLING */

  } /* END OF DESKTOP-SPECIFIC STYLING */
}
